.frame-1,
.frame-1 * {
    box-sizing: border-box;
}

.frame-1 {
    background: #ffffff;
    width: 1920px;
    height: 4567px;
    position: relative;
    overflow: hidden;
}

.rectangle-8 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(221, 221, 221, 0.85) 100%);
    width: 1920px;
    height: 1282px;
    position: absolute;
    left: 0px;
    top: 1961px;
}

.rectangle-3 {
    background: #000000;
    width: 1920px;
    height: 38px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.rectangle-2 {
    background: linear-gradient(to left, #000000, #000000);
    border-radius: 20px;
    width: 1752px;
    height: 687px;
    position: absolute;
    left: 84px;
    top: 220px;
    object-fit: contain;
}

.rectangle-4 {
    background: linear-gradient(to left, #1b1112, #1b1112);
    border-radius: 20px 0px 0px 20px;
    width: 619px;
    height: 838px;
    position: absolute;
    left: 84px;
    top: 1086px;
}

.rectangle-7 {
    border-radius: 20px;
    width: 558px;
    height: 838px;
    position: absolute;
    left: 1278px;
    top: 1086px;
}

.rectangle-10 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.21) 75.52083134651184%, rgba(0, 0, 0, 0.70) 100%);
    border-radius: 20px;
    width: 558px;
    height: 687px;
    position: absolute;
    left: 1029px;
    top: 2161px;
    object-fit: cover;
}

.rectangle-16 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.21) 75.52083134651184%, rgba(0, 0, 0, 0.70) 100%);
    border-radius: 20px;
    width: 558px;
    height: 687px;
    position: absolute;
    left: 1156px;
    top: 2366px;
    object-fit: cover;
}

.gme-icon {
    width: 190px;
    height: 101px;
    position: absolute;
    left: 100px;
    top: 79px;
}

.frame-2 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1299px;
    top: 112px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home {
    color: #000000;
    text-align: left;
    font: 400 32px 'Space Grotesk', sans-serif;
    position: relative;
}

.about {
    color: #000000;
    text-align: left;
    font: 400 32px 'Space Grotesk', sans-serif;
    position: relative;
}

.events {
    color: #000000;
    text-align: left;
    font: 400 32px 'Space Grotesk', sans-serif;
    position: relative;
}

.contact {
    color: #000000;
    text-align: left;
    font: 400 32px 'Space Grotesk', sans-serif;
    position: relative;
}

.upcoming-events {
    color: #000000;
    text-align: left;
    font: 400 42px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 127px;
    top: 993px;
}

.with-gme-malaysia {
    color: #000000;
    text-align: left;
    font: 400 42px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 127px;
    top: 2625px;
}

.shows-completed {
    color: #000000;
    text-align: left;
    font: 400 42px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 488px;
    top: 2784px;
}

.since {
    color: #000000;
    text-align: left;
    font: 400 42px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 127px;
    top: 2784px;
}

.entertainment-that-brings-joy-to-life {
  
   background: linear-gradient(98.96deg, #000000 15.23%, #a01111 73.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font: 400 110px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 127px;
    top: 2164px;
    width: 812px;
}

._47 {
    color: #000000;
    text-align: left;
    font: 400 120px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 488px;
    top: 2839px;
    width: 294px;
}

._2014 {
    color: #000000;
    text-align: left;
    font: 400 120px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 127px;
    top: 2839px;
    width: 285px;
}

.arrow-back-24-px {
    position: absolute;
    left: 1670px;
    top: 994px;
    overflow: visible;
}

.arrow-forward-24-px {
    position: absolute;
    left: 1757px;
    top: 994px;
    overflow: visible;
}

.rectangle-12 {
    background: #000000;
    border-radius: 20px 20px 0px 0px;
    width: 1920px;
    height: 1324px;
    position: absolute;
    left: 0px;
    top: 3243px;
}

.latest-news {
    color: #ffffff;
    text-align: left;
    font: 400 42px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 111px;
    top: 3361px;
}

.hong-kong-entertainer-eason-chan-to-perform-3-nights-in-kl {
    color: #ffffff;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 132px;
    top: 3942px;
    width: 459px;
}

.k-pop-group-nct-dream-has-added-kuala-lumpur-to-their-2nd-world-tour-list {
    color: #ffffff;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 705px;
    top: 3942px;
    width: 459px;
}

._6 {
    color: #ffffff;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    text-decoration: underline;
    position: absolute;
    left: 1287px;
    top: 3942px;
    width: 459px;
}

.rectangle-13 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.21) 75.52083134651184%, rgba(0, 0, 0, 0.70) 100%);
    border-radius: 20px;
    width: 510px;
    height: 392px;
    position: absolute;
    left: 111px;
    top: 3490px;
}

.rectangle-14 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.21) 75.52083134651184%, rgba(0, 0, 0, 0.70) 100%);
    border-radius: 20px;
    width: 510px;
    height: 392px;
    position: absolute;
    left: 684px;
    top: 3490px;
}

.rectangle-15 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.21) 75.52083134651184%, rgba(0, 0, 0, 0.70) 100%);
    border-radius: 20px;
    width: 510px;
    height: 392px;
    position: absolute;
    left: 1266px;
    top: 3490px;
}

.vector-1 {
    position: absolute;
    left: 5px;
    top: 4140px;
    overflow: visible;
}

.gme-icon2 {
    width: 250px;
    height: 133px;
    position: absolute;
    left: 111px;
    top: 4228px;
}

.about-us {
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 641px;
    top: 4225px;
}

.events2 {
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 642px;
    top: 4269px;
}

.past-portfolios {
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 642px;
    top: 4310px;
}

.contact-us {
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 641px;
    top: 4351px;
}

.text-field {
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 467px;
    height: 48px;
    position: absolute;
    left: 1309px;
    top: 4229px;
}

.base {
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.input-field {
    border-radius: 40px;
    border-style: solid;
    border-color: var(--greyblue, #bbc7df);
    border-width: 1px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.active {
    flex: 1;
    height: 24px;
    position: relative;
}

.label-cursor-input {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: calc(50% - 9px);
}

.default-label {
    color: var(--darkergreyblue, #47558d);
    text-align: left;
    font: 400 14px/150% 'Vastago Grotesk', sans-serif;
    opacity: 0.5;
    position: relative;
    height: 18px;
}

.gme-all-rights-reserved {
    color: #ffffff;
    text-align: right;
    font: 400 20px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 1558px;
    top: 4460px;
}

.rectangle-17 {
    background: #9d0404;
    border-radius: 40px;
    width: 129px;
    height: 48px;
    position: absolute;
    left: 1647px;
    top: 4229px;
}

.send {
    color: #ffffff;
    text-align: left;
    font: 400 20px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 1690px;
    top: 4244px;
}

.serves-as-a-hub-for-top-notch-film-production-and-casting-services-across-southeast-asia {
    color: #ffffff;
    text-align: left;
    font: 400 20px/24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 111px;
    top: 4399px;
    width: 359px;
}

.rectangle-18 {
    background: #f8f7fa;
    border-radius: 0px 20px 20px 0px;
    width: 499px;
    height: 838px;
    position: absolute;
    left: 703px;
    top: 1086px;
}

.vector-2 {
    position: absolute;
    left: 931px;
    top: 1308px;
    overflow: visible;
}

.sam-lee {
    color: #000000;
    text-align: left;
    font: 700 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 776px;
    top: 1265px;
}

.me-song {
    color: #000000;
    text-align: left;
    font: 400 50px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 776px;
    top: 1189px;
}

._27-may-2023 {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 776px;
    top: 1307px;
}

.tickets-available {
    color: #000000;
    text-align: left;
    font: 400 14px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 805px;
    top: 1575px;
}

.sold-out {
    color: #000000;
    text-align: left;
    font: 400 14px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 805px;
    top: 1596px;
}

.arena-of-stars {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 953px;
    top: 1307px;
}

.ellipse-1 {
    background: #30cc2d;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 781px;
    top: 1577px;
}

.ellipse-3 {
    background: #cc2d2d;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 781px;
    top: 1598px;
}

.ellipse-2 {
    background: #30cc2d;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 819px;
    top: 1409px;
}

.ellipse-4 {
    background: #30cc2d;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 827px;
    top: 1448px;
}

.ellipse-5 {
    background: #cc2d2d;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 826px;
    top: 1492px;
}

.vip {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 781px;
    top: 1411px;
}

.ps-1 {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 778px;
    top: 1452px;
}

.ps-2 {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 773px;
    top: 1493px;
}

.rm-798 {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 1046px;
    top: 1411px;
}

.rm-598 {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 1046px;
    top: 1452px;
}

.rm-5982 {
    color: #000000;
    text-align: left;
    font: 400 24px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 1046px;
    top: 1493px;
}

.vector-3 {
    position: absolute;
    left: 776px;
    top: 1556px;
    transform: translate(0px, -0.5px);
    overflow: visible;
}

.view-details {
    color: #000000;
    text-align: left;
    font: 400 26px 'Space Grotesk', sans-serif;
    position: absolute;
    left: 953px;
    top: 1849px;
}

.arrow-forward-24-px2 {
    position: absolute;
    left: 1109px;
    top: 1846px;
    overflow: visible;
}
/* Page 2 CSS */
.e101_4856 {
  overflow: hidden;
}

.e101_4856 {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 6090px;
}

.e101_4857 {
  background-image: url(images/rectangle_13.png);
  width: 1719px;
  height: 836px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 90px;
  margin-top: 180px;
  margin-right: 45px;
}

.e101_4858 {
  border: 1px solid rgba(255, 255, 255, 1);
}

.e101_4858 {
  width: 1909.5px;
  height: 0px;
  position: absolute;
  left: 5px;
  top: 4599px;
}

.e101_4859 {
  width: 1920px;
  height: 441px;
  left: -5px;
  top: 5649px;
}

.e101_4860 {
  background-color: rgba(0, 0, 0, 1);
  width: auto;
  height: 441px;
  border-radius: 16px 16px 0px 0px;
  margin-top: 120px;
}

.e101_4861 {
  width: 250px;
  height: 133px;
  background-image: url(images/gme-icon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 100px;
  margin-top: 100px;
}

.e101_4862 {
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 21px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  margin-top: 95px;
}

.e101_4863 {
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: 21px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  margin-top: 20px;
}

.e101_4864 {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 21px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  margin-top: 20px;
}

.e101_4865 {
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: 21px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  margin-top: 20px;
}

.e101_4866 {
  background-color: rgba(255, 255, 255, 1);
  width: 467px;
  height: 48px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: 95px;
}

.ei101_4866_58_6594 {
  width: 467px;
  height: 48px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.i101_4866_58_6595 {
  border: 1px solid rgba(187.00000405311584, 199.0000033378601, 223.00000190734863, 1);
}

.ei101_4866_58_6595 {
  width: 467px;
  height: 48px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.ei101_4866_58_6596 {
  width: 435px;
  height: 24px;
  margin-top: 10px;
  margin-left: 15px;
}

.ei101_4866_58_6597 {
  width: 206px;
  height: 18px;
}

.ei101_4866_58_6598 {
  color: rgba(71.2450522184372, 85.25854825973511, 141.31250202655792, 1);
  opacity: 0.5;
  width: 206px;
  height: 18px;
  font-family: Vastago Grotesk;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e101_4867 {
  color: rgba(255, 255, 255, 1);
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  text-align: right;
  margin-right: 150px;
  margin-top: 200px;
}

.e101_4868 {
  background-color: rgba(157.25000202655792,
      3.9312538504600525,
      3.9312538504600525,
      1);
  width: 129px;
  height: 48px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left:-125px;
}

.e101_4869 {
  color: rgba(255, 255, 255, 1);
  width: 44px;
  height: 21px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  margin-left: 40px;
  margin-top: 9px;
}

.e101_4870 {
  color: rgba(255, 255, 255, 1);
  width: 359px;
  height: 72px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 100px;
  margin-top: 40px;
}

.e101_4871 {
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(133, 133, 133, 0.44) 59.89583134651184%,
      rgba(255, 255, 255, 0) 100%,
      rgba(19.02539100497961,
        19.02539100497961,
        19.02539100497961,
        0.04124999791383743) 100%);
  width: 1920px;
  height: 1103px;
  position: absolute;
  left: 0px;
  top: 35px;
}

.e101_4872 {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 38px;
}

.e101_4873 {
  width: 190px;
  height: 101px;
  margin-top: 45px;
  margin-left: 100px;
}

.e101_4874 {
  width: 465px;
  height: 34px;
  left: 1299px;
  top: 112px;
}

.e101_4875 {
  color: rgba(0, 0, 0, 1);
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  margin-top: 75px;
}

.e101_4876 {
  color: rgba(0, 0, 0, 1);
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  margin-top: 75px;
}

.e101_4877 {
  color: rgba(0, 0, 0, 1);
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  margin-top: 75px;
}

.e101_4878 {
  color: rgba(0, 0, 0, 1);
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  margin-top: 75px;
  margin-right: 150px;
}

.e101_4879 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
  line-height: 100px;
  text-align: center;
  color: #000000;
  margin-top: 199px;
}

.e101_4880 {
  font-family: "Space Grotesk";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
  margin-bottom: 230px;
}

.e101_4881 {
  width: 275px;
  height: 78px;
  left: 1246px;
  top: 5400px;
  background-image: url(images/spritzer_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 75px;
  margin-left: 100px;
}

.e101_4882 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-left: 110px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.e101_4883 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-left: 110px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.e101_4884 {
  width: 359px;
  height: 101px;
  left: 787px;
  top: 5390px;
  background-image: url(images/sunway_logo_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 75px;
}

.e101_4885 {
  width: 293px;
  height: 176px;
  background-image: url(images/axiata_logo_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 100px;
  margin-left: 350px;
}

.e101_4886 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 92%;
  margin-left: 75px;
}

.e101_4887 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 92%;
  margin-left: 75px;
}

.e101_4888 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 92%;
  margin-left: 75px;
}

.e101_4889 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-left: 150px;
  margin-top: 100px;
}

.e101_4890 {
  width: 1191px;
  height: 1643px;
  left: 419px;
  top: 1138px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 63px;
  background: linear-gradient(98.96deg, #000000 15.23%, #a01111 73.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 150px;
  margin-top: 100px;
  margin-right: 150px;
}

.e101_4891 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 120px;
  line-height: 100px;
  color: #ffffff;
}

.e101_4892 {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
  color: #ffffff;
}

.e101_4893 {
  position: absolute;
  bottom: 160px;
  right: 200px;
  font-size: 28px;
}

.e101_4895 {
  width: 353px;
  height: 44px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-top: 10px;
  margin-left: 50px;
}

.e101_4896 {
  width: 305px;
  height: 44px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-top: 10px;
  margin-left: 50px;
}

.e101_4897 {
  width: 354px;
  height: 44px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-top: 40px;
  margin-left: 50px;
}

.e101_4898 {
  width: 598px;
  height: 44px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-top: 10px;
  margin-left: 50px;
}

.e101_4899 {
  width: 435px;
  height: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.e101_4900 {
  width: 471px;
  height: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.e101_4901 {
  width: 383px;
  height: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.e101_4902 {
  width: 498px;
  height: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.e101_4903 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 194px;
  height: 194px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4904 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 194px;
  height: 194px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4905 {
  width: 340px;
  height: 44px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-top: 25px;
  margin-left: 50px;
}

.e101_4906 {
  width: 326px;
  height: 44px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 44px;
  color: #000000;
  margin-top: 25px;
  margin-left: 50px;
}

.e101_4907 {
  width: 436px;
  height: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.e101_4908 {
  width: 500px;
  height: 42px;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
}

.e101_4909 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 194px;
  height: 194px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4910 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 194px;
  height: 194px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4911 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 194px;
  height: 194px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4912 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 194px;
  height: 194px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 168px;
    left: 150px;
    text-align: left !important;
}

.bottom-right {
    position: absolute;
    bottom: 168px;
    right: 265px;
}

.image-center {
    margin-left: 250px;
    margin-top: 50px;
}

.container-align {
    margin-top: 50px;
}

.service-alignment {
    margin-left: 130px;
    margin-top: 90px;
}

/* Page 3 */
.e101_4913 {
  overflow: hidden;
}

.e101_4913 {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 2362px;
  position: absolute;
}

.e101_4914 {
  background-color: rgba(0, 0, 0, 1);
  width: 1920px;
  height: 38px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e101_4915 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 1752px;
  height: 1140px;
  position: absolute;
  left: 84px;
  top: 252px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4916 {
  background-color: rgba(248.0000004172325,
      247.00000047683716,
      250.00000029802322,
      1);
  width: 1752px;
  height: 408px;
  position: absolute;
  left: 84px;
  top: 1433px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e101_4917 {
  color: rgba(0, 0, 0, 1);
  width: 490px;
  height: 50px;
  position: absolute;
  left: 1099px;
  top: 564px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 40px;
  letter-spacing: 0.15000000596046448;
}

.e101_4918 {
  background-color: rgba(255, 255, 255, 1);
  width: 582px;
  height: 48px;
  position: absolute;
  left: 1099px;
  top: 652px;
}

.ei101_4918_58_6594 {
  width: 582px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.i101_4918_58_6595 {
  border: 1px solid rgba(187.00000405311584, 199.0000033378601, 223.00000190734863, 1);
}

.ei101_4918_58_6595 {
  width: 582px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ei101_4918_58_6596 {
  width: 550px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.ei101_4918_58_6597 {
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.ei101_4918_58_6598 {
  color: rgba(71.2450522184372, 85.25854825973511, 141.31250202655792, 1);
  opacity: 0.5;
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Saes Grotesk;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e101_4919 {
  background-color: rgba(255, 255, 255, 1);
  width: 582px;
  height: 48px;
  position: absolute;
  left: 1099px;
  top: 716px;
}

.ei101_4919_58_6594 {
  width: 582px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.i101_4919_58_6595 {
  border: 1px solid rgba(187.00000405311584, 199.0000033378601, 223.00000190734863, 1);
}

.ei101_4919_58_6595 {
  width: 582px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ei101_4919_58_6596 {
  width: 550px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.ei101_4919_58_6597 {
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.ei101_4919_58_6598 {
  color: rgba(71.2450522184372, 85.25854825973511, 141.31250202655792, 1);
  opacity: 0.5;
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Saes Grotesk;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e101_4920 {
  background-color: rgba(255, 255, 255, 1);
  width: 582px;
  height: 48px;
  position: absolute;
  left: 1099px;
  top: 780px;
}

.ei101_4920_58_6594 {
  width: 582px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.i101_4920_58_6595 {
  border: 1px solid rgba(187.00000405311584, 199.0000033378601, 223.00000190734863, 1);
}

.ei101_4920_58_6595 {
  width: 582px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ei101_4920_58_6596 {
  width: 550px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.ei101_4920_58_6597 {
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.ei101_4920_58_6598 {
  color: rgba(71.2450522184372, 85.25854825973511, 141.31250202655792, 1);
  opacity: 0.5;
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Saes Grotesk;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e101_4921 {
  background-color: rgba(255, 255, 255, 1);
  width: 582px;
  height: 202px;
  position: absolute;
  left: 1099px;
  top: 844px;
}

.ei101_4921_58_6594 {
  width: 582px;
  height: 202px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.i101_4921_58_6595 {
  border: 1px solid rgba(187.00000405311584, 199.0000033378601, 223.00000190734863, 1);
}

.ei101_4921_58_6595 {
  width: 582px;
  height: 202px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ei101_4921_58_6596 {
  width: 550px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.ei101_4921_58_6597 {
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.ei101_4921_58_6598 {
  color: rgba(71.2450522184372, 85.25854825973511, 141.31250202655792, 1);
  opacity: 0.5;
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: DM Sans;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e101_4922 {
  width: 1664px;
  height: 101px;
  position: absolute;
  left: 128px;
  top: 79px;
}

.e101_4923 {
  width: 190px;
  height: 101px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/gme-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.e101_4924 {
  width: 465px;
  height: 34px;
  position: absolute;
  left: 1199px;
  top: 33px;
}

.e101_4925 {
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: 34px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
  text-decoration: none;
}

.e101_4926 {
  color: rgba(0, 0, 0, 1);
  width: 83px;
  height: 34px;
  position: absolute;
  left: 115px;
  top: 0px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}

.e101_4927 {
  color: rgba(0, 0, 0, 1);
  width: 92px;
  height: 34px;
  position: absolute;
  left: 230px;
  top: 0px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}

.e101_4928 {
  color: rgba(0, 0, 0, 1);
  width: 111px;
  height: 34px;
  position: absolute;
  left: 354px;
  top: 0px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}

.e101_4929 {
  background-image: url(images/rectangle_10.png);
  width: 558px;
  height: 687px;
  position: absolute;
  left: 275px;
  top: 379px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.e101_4930 {
  background-image: url(images/rectangle_16.png);
  width: 558px;
  height: 687px;
  position: absolute;
  left: 402px;
  top: 584px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.e101_4933 {
  background-color: rgba(0, 0, 0, 1);
  width: 1920px;
  height: 441px;
  position: absolute;
  left: 0px;
  top: 1921px;
  border-radius: 16px 32px 0px 0px;
}

.e101_4934 {
  width: 250px;
  height: 133px;
  position: absolute;
  left: 111px;
  top: 2023px;
  background-image: url(images/gme-icon2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.e101_4935 {
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 21px;
  position: absolute;
  left: 641px;
  top: 2020px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e101_4936 {
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: 21px;
  position: absolute;
  left: 642px;
  top: 2064px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e101_4937 {
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: 21px;
  position: absolute;
  left: 642px;
  top: 2105px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e101_4938 {
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: 21px;
  position: absolute;
  left: 641px;
  top: 2146px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e101_4939 {
  background-color: rgba(255, 255, 255, 1);
  width: 467px;
  height: 48px;
  position: absolute;
  left: 1309px;
  top: 2024px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.ei101_4939_58_6594 {
  width: 467px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.i101_4939_58_6595 {
  border: 1px solid rgba(187.00000405311584, 199.0000033378601, 223.00000190734863, 1);
}

.ei101_4939_58_6595 {
  width: 467px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.ei101_4939_58_6596 {
  width: 435px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 12px;
}

.ei101_4939_58_6597 {
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 3px;
}

.ei101_4939_58_6598 {
  color: rgba(71.2450522184372, 85.25854825973511, 141.31250202655792, 1);
  opacity: 0.5;
  width: 206px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e101_4940 {
  color: rgba(255, 255, 255, 1);
  width: 218px;
  height: 21px;
  position: absolute;
  left: 1558px;
  top: 2255px;
  font-family: "Space Grotesk", sans-serif;
  text-align: right;
  font-size: 20px;
  letter-spacing: 0;
}

.e101_4941 {
  background-color: rgba(157.25000202655792,
      3.9312538504600525,
      3.9312538504600525,
      1);
  width: 129px;
  height: 48px;
  position: absolute;
  left: 1647px;
  top: 2024px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.e101_4942 {
  color: rgba(255, 255, 255, 1);
  width: 44px;
  height: 21px;
  position: absolute;
  left: 1690px;
  top: 2039px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e101_4943 {
  color: rgba(255, 255, 255, 1);
  width: 359px;
  height: 72px;
  position: absolute;
  left: 111px;
  top: 2194px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}

.e107_4861 {
  width: 1527px;
  height: 282.5px;
  position: absolute;
  left: 197px;
  top: 1496px;
}

.e107_4851 {
  border-left: 1px solid #4c3cac;
  height: 290px;
}

.e107_4851 {
  position: absolute;
  left: 472px;
  top: 0.5px;
}

.e107_4852 {
  border-left: 1px solid #4c3cac;
  height: 290px;
}

.e107_4852 {
  position: absolute;
  left: 1068px;
  top: 0px;
}

.e107_4853 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 271px;
  height: 25px;
  position: absolute;
  left: 645px;
  top: 207.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.e107_4854 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 364px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 207.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.e107_4855 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 353px;
  height: 25px;
  position: absolute;
  left: 5px;
  top: 169.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.e107_4856 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 164px;
  height: 55px;
  position: absolute;
  left: 100px;
  top: 65.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 52px;
  letter-spacing: 0;
}

.e107_4857 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 180px;
  height: 55px;
  position: absolute;
  left: 692px;
  top: 65.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 52px;
  letter-spacing: 0;
}

.e107_4858 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 150px;
  height: 55px;
  position: absolute;
  left: 1285px;
  top: 65.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 52px;
  letter-spacing: 0;
}

.e107_4859 {
  color: rgba(75.90711325407028, 60.24375334382057, 172.12500303983688, 1);
  width: 169px;
  height: 25px;
  position: absolute;
  left: 696px;
  top: 169.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.e107_4860 {
  color: rgba(76.0000030696392, 60.00000022351742, 172.00000494718552, 1);
  width: 334px;
  height: 75px;
  position: absolute;
  left: 1193px;
  top: 169.5px;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}